@import url('./variables.css');
@import './animations.css';
@import './hero.css';
@import './acrostic.css';

.body {
  background-image: radial-gradient(var(--primary-theme-color), var(--secondary-theme-color));
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}